{% extends "base.html" %}

{% block title %} Rolex {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/brands/rolex.css') }}">
{% endblock %}

{% block subheader %}
    <div class="subheader">
        <h2> Rolex </h2>
    </div>

    <div class = "model-grid">
        <a href = "{{ url_for('show_model', brand = 'Rolex', model = 'Daytona') }}" class = "model-button"> Daytona </a>
        <a href = "{{ url_for('show_model', brand = 'Rolex', model = 'Daydate') }}" class = "model-button"> Daydate </a>
        <a href = "{{ url_for('show_model', brand = 'Rolex', model = 'Datejust') }}" class = "model-button"> Datejust </a>
        <a href = "{{ url_for('show_model', brand = 'Rolex', model = 'Skydweller') }}" class = "model-button"> Skydweller </a>
        <a href = "{{ url_for('show_model', brand = 'Rolex', model = 'GMT Master II') }}" class = "model-button"> GMT Master II </a>
        <a href = "{{ url_for('show_model', brand = 'Rolex', model = 'Submariner') }}" class = "model-button"> Submariner </a>
        <a href = "{{ url_for('show_model', brand = 'Rolex', model = 'Oyster Perpetual') }}" class = "model-button"> Oyster Perpetual </a>
        <a href = "{{ url_for('show_model', brand = 'Rolex', model = 'Yacht Master') }}" class = "model-button"> Yacht Master </a>
        <a href = "{{ url_for('show_model', brand = 'Rolex', model = 'Explorer I') }}" class = "model-button"> Explorer I </a>
        <a href = "{{ url_for('show_model', brand = 'Rolex', model = 'Explorer II') }}" class = "model-button"> Explorer II </a>
        <a href = "{{ url_for('show_model', brand = 'Rolex', model = 'Air King') }}" class = "model-button"> Air King </a>

    </div>
{% endblock %}