{% extends "base.html" %}

{% block title %} Rolex {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/brands/rolex.css') }}">
{% endblock %}

{% block subheader %}
    <div class="subheader">
        <h2> Rolex </h2>
    </div>

    <div class = "model-grid">
        <a href = "/Rolex/Daytona" class = "model-button"> Daytona </a>
        <a href = "/Rolex/Daydate" class = "model-button"> Daydate </a>
        <a href = "/Rolex/Datejust" class = "model-button"> Datejust </a>
        <a href = "/Rolex/Yacht_Master" class = "model-button"> Yachtmaster </a>
        <a href = "/Rolex/Skydweller" class = "model-button"> Skydweller </a>
        <a href = "/Rolex/GMT_Master_II" class = "model-button"> GMT Master II </a>
        <a href = "/Rolex/Oyster_Perpetual" class = "model-button"> Oyster Perpetual </a>
        <a href = "/Rolex/Explorer_I" class = "model-button"> Explorer I </a>
        <a href = "/Rolex/Explorer_II" class = "model-button"> Explorer II </a>
        <a href = "/Rolex/1908" class = "model-button"> 1908 </a>
        <a href = "/Rolex/Air_King" class = "model-button">Air King </a>
        <a href = "/Rolex/All" class = "model-button"> All Models </a>
    </div>
{% endblock %}